
.mediumCard {
    height: 400px;
    width: 375px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.mediumTitleCard {
    height: 400px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.mediumCard:focus-within~.card, .mediumCard:not(:first-child):hover~.mediumCard {
    transform: translateX(130px);
}

.mediumCard:hover {
    transform: translateY(-1rem);
}

.mediumCard:not(:first-child) {
    margin-left: -200px;
}

.mediumCard:first-child {
    margin-right: 250px;
}


.mediumCard-header {
    margin-bottom: auto;
}

.mediumCard-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.mediumCard-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: white;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.mediumTitleCard-header {
    margin-bottom: auto;
    color: white;
}

.mediumTitleCard-header h2 {
    font-size: 60px;
    margin: 10rem 0 auto;
    padding-top: 1rem;
    text-decoration: none;
    background: linear-gradient(90deg,#f7e602f1,#ff910052);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    border: 0;
    cursor: pointer;
}

.mediumTitleCard-header h3 {
    padding-top: 1rem;
    text-decoration: none;
    background: linear-gradient(90deg,#f7e602f1,#ff910052);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    border: 0;
    cursor: pointer;
}

.mediumCard-header h2:hover {
    background: linear-gradient(90deg,#f7e602f1,#ff910052);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.videoThumbnail img{
    padding-top: 1rem;
}

.mediumCard-author {
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
}

.mediumAuthor-avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.mediumAuthor-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    margin: 16px 10px;
}

.mediumAuthor-name {
    grid-area: auto;
    box-sizing: border-box;
}

.mediumAuthor-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.mediumHalf-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #0ab435f1;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}

.mediumTags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.mediumTags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: white;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid white;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.mediumTags a:hover {
    background: linear-gradient(90deg,#f7e602f1,#ff910052);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    border-color: white;
}